{% extends '::base.html.twig' %}



{% block body %}

<h1>Country creation</h1>

<form action="{{ path('countries_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Create</button>
    </p>
</form>


<a href="{{ path('countries') }}">
    Back to the list
</a>


{% endblock %}