{% extends '::base.html.twig' %}



{% block body %}

<h1>CountryLanguage creation</h1>

<form action="{{ path('countrylanguage_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn btn-primary" type="submit">Create</button>
    </p>
</form>


    <a href="{{ path('countrylanguage') }}">
        &lt;&lt; Back to the list
    </a>


{% endblock %}