{% extends '::base.html.twig' %}

{% block body %}

<h1>Pack creation</h1>

<form action="{{ path('packs_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">Create</button>
    </p>
</form>

<form action="{{ path('packs') }}"><button class="btn btn-link">Go back to the list</button></form>

{% endblock %}