{% extends '::base.html.twig' %}

{% block body %}

<form action="{{ path('translationsimports_create') }}" method="post" {{ form_enctype(form) }}>
	<legend>Import a translation pack</legend>
	<fieldset>
	    {{ form_widget(form) }}

	    <label for="version">Version</label><input id="version" type="text" name="version"></input>
	    <div>(needed if you want to import emails)</div>
	    <BR/>

	    {% if is_granted('ROLE_SUPER_ADMIN') %}
	    	<select name="force_actualize">
	    		<option value="0">Regular import</option>
	    		<option value="1">This pack takes precedence</option>
	    	</select>
	    	<BR/>
	    {% endif %}
	    
	    <button type="submit" class="btn btn-success">Create</button>
	   
    </fieldset>
</form>

{% endblock %}