{% extends '::base.html.twig' %}

{% block body %}

<form action="{{ path('translationsimports_create') }}" method="post" {{ form_enctype(form) }}>
	<legend>Import a translation pack</legend>
	<fieldset>
	    {{ form_widget(form) }}
	    
	    <button type="submit" class="btn">Create</button>
	   
    </fieldset>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('translationsimports') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}