{% extends '::base.html.twig' %}

{% block body %}

<h1>TranslationsImport creation</h1>

<form action="{{ path('translationsimports_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('translationsimports') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}