h1
{
	display:block;
	font-size: x-large;
	background-color: rgba(255,255,255,0.5);
	padding:5px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}

h2
{
	display:block;
	font-size: large;
	background-color: rgba(255,255,255,0.3);
	color:#444;
	padding:5px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}

div#main-menu
{
	background-color: #111;
}

div#contents
{
	margin-top:60px;
	padding:5px;
}

table.table-small
{
	width:33%;
}

body
{
	margin:0;
	font-family:sans-serif;
}

textarea
{
	margin: 0;
	border:0px solid #AAAAAA;
	-webkit-box-sizing : border-box;
	  -moz-box-sizing  : border-box;
	       box-sizing  : border-box;
}

form
{
	margin:0;
}

.pull-right-i-mean-it
{
	float:right !important;
}

.clickable
{
	cursor:pointer;
}

tr.clickable:hover
{
	background-color:rgba(100,220,100,0.5);
}

img.small
{
	width:24px;
	height:24px;
}

th
{
	text-align: left;
}

.center
{
	text-align: center;
}

fieldset.bordered
{
	margin:5px;
}

.small
{
	width:50px;
}

.medium
{
	width:100px;
}

.input-label
{
	height:22px;
	background-color: rgb(153, 153, 153);
	color:white;
	font-weight: bold;
	border-radius: 3px;
	padding:2px;
	padding-left: 4px;
}

div.pagination
{
	margin:25px;
}


tr.translation_stat
{

}

td.translation_stat
{
	border-collapse:separate;
	border-spacing: 1px;
	text-align: center;
}

td[style].translation_stat:hover
{
	/*border:1px solid #ccc !important;*/
	color:black;
}

span.translation_stat_percent
{
	color:#444;
	font-weight: bold;
}

div.alert
{
	margin:0;
	padding-top:2px;
	padding-bottom:2px;
	margin-top:8px;
	margin-left:8px;
	margin-right: 8px;
}