div#banner
{
	background-color:#111;
	height:60px;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
}

div#contents
{
	margin-top:60px;
	padding:5px;
}

div.table
{
	display: table;
	height:60px;
}

div.table-row
{
	display:table-row;
}

div.table-cell
{
	vertical-align:middle;
	display: table-cell;
}

div.toplink
{
	color:white;
	font-weight:bold;
	padding:5px;
}

div.toplink:hover
{
	background-color:#444;
	cursor:pointer;
}

body
{
	margin:0;
	font-family:sans-serif;
}

textarea
{
	margin: 0;
	border:0px solid #AAAAAA;
	-webkit-box-sizing : border-box;
	  -moz-box-sizing  : border-box;
	       box-sizing  : border-box;
}

.clickable
{
	cursor:pointer;
}

img.small
{
	width:24px;
	height:24px;
}

.left
{
	float:left;
}

.clear
{
	clear:both;
}

th
{
	text-align: left;
}

.center
{
	text-align: center;
}

fieldset.bordered
{
	margin:5px;
}