textarea
{
	border:1px solid #AAAAAA;
	-webkit-box-sizing : border-box;
	  -moz-box-sizing  : border-box;
	       box-sizing  : border-box;
}

.clickable
{
	cursor:pointer;
}

img.small
{
	width:24px;
	height:24px;
}

.left
{
	float:left;
}

.clear
{
	clear:both;
}
