textarea.translate
{
	width: 100%;
	height:100%;
	margin:0;
	background-color: rgba(255,255,255,0.45);
	border:1px solid #bbb;
}

iframe.translate
{
	width: 100%;
	background-color: white;
}

pre.translate
{
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
	 margin:0;
	 background-color: rgba(255,255,255,0.3);
}

form.translate
{
	margin:0;
}

iframe
{
	border:0px;
}

img.submit_translation
{
	margin:3px;
}

img.more_info
{
	margin-left: 3px;
	margin-right: 3px;
}

div.translate_row
{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 2px;
	border-radius: 5px;
	padding: 1px;
	border:1px solid #ccc;
}

div.context
{
	color:gray;
}

div.translate_row.even
{
	background-color: rgba(170,170,170,0.2);
}

div.translate_row.odd
{
	background-color: rgba(150,150,150,0.2);
}

div.translate_row_left
{
	padding-left: 5px;
	float:none;
	/* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}

div.translate_row_right
{
	float:right;
	width:30px;
}

div.translate_row_message
{
	width:49%;
	padding-top:2px;
	padding-bottom:2px;
}

div.translate_row_translation
{
	width:49%;
	padding-top:2px;
	padding-bottom:2px;
}

span.legend
{
	padding-left: 10px;
}

fieldset.translate_category
{
}

fieldset.translate_category> legend:first-child
{
	color:#33A;
	background-color: white;
}

fieldset.translate_section> legend:first-child
{
	color:#666;
	background-color: rgba(255,255,255,0.3);
}

div div#submit_translation_filter
{
}

span.legend
{
	padding-left: 10px;
}

div.filler
{
	background-color: rgba(200,200,200,0.4);
	border:1px solid #ccc;
	margin-right: 3px;
	margin-top:2px;
	margin-bottom:9px;
	border-radius: 3px;
	height:23px;
}

div#translate_filters
{
	position:absolute;
	width:370px;
	border:1px solid #CCC;
	border-radius: 5px;
	background-color:white;
	padding-bottom: 10px;
}

div.translate_filters_contents
{
	overflow-y:scroll;
}

div#translate_filters_hide
{
	float:right;
	padding:5px 10px;
	border:1px solid black;
	border-radius: 5px;
	background-color: orange;
	cursor:pointer;
	margin-top:4px;
	margin-right:5px;
}

div#translate_fields
{
	border:1px solid #CCC;
	border-radius: 5px;
	padding-top: 5px;
	margin-left: 385px;
	background-color:white;
}

div#translate_filters_reveal
{
	display:none;
}

div#ckeditor_toolbars
{
}

div#translate_container
{
	margin-top:25px;
}

div.translation_notification
{
	margin-left:5px;
	margin-right:5px;
}

div.translation_notification div
{
	padding:5px;
	margin-bottom: 10px;
	border-radius: 5px;
	border:1px solid black;
}

div.translation_notification div.error
{
	background-color:#da4f49;
}

div.translation_notification div.warning
{
	background-color:#faa732;
}

div.tip
{
	border:1px solid orange;
	font-size: 0.8em;
	background-color: beige;
	padding:3px;
	border-radius: 2px;
	margin-bottom:8px;
}

div.smalltip
{
	width:292px;
}

span.close-parent
{
	float:right;
	cursor: pointer;
	font-weight: bold;
	margin:5px;
	margin-top: 0px;
}