textarea.translate
{
   	width:100%;
}

iframe.translate
{
	width:100%;
	height:400px;
}

pre.translate
{
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div.translate_field
{
	border:1px solid #ccc;
	border-bottom:0;
	
	/*margin-top:7px;
	margin-bottom:7px;
	padding:5px;
	background-color:rgba(210,210,210,0.5);
	border-radius:3px;*/
}

div.translate_message
{	
	background-color:rgb(255,255,240);
	float:left;
	
	
	/*
	border: 1px solid black;
	margin: -1px;*/
	
	
	width:50%;
	
	
}

div.translate_translation
{
	float:left;
	width:50%;
}

textarea.translate
{
	
	/*
	border:1px solid black;
	margin-top:-1px;
	margin-bottom:-2px;*/
}



div.translate_controls_container
{
	display: none;
	vertical-align:middle;
	width:100%;
}

div.translate_controls
{
	height:24px;
	display:table-row;
	vertical-align:middle;
}

div.cell
{
	display:table-cell;
	vertical-align:middle;
	float:right;
}

fieldset
{
	border-radius:3px;
	border-color:#EEE;
}

fieldset#jump
{
	background-color:rgba(255,255,255,0.8);
	
}

fieldset.category, fieldset.section, fieldset.subsection
{
	border-radius:0;
	border-left:0;
	border-right:0;
	border-bottom:0;
	margin:0;
	padding:0;
}

fieldset.category
{
}

fieldset.section
{
	background-color:rgba(255,255,255,0.5);
}

form
{
	margin:0;
}




div.translation_details
{
	display:none;
	height:24px;
	border: 1px solid #EEE;
	border-radius:4px;
	margin-left:5px;
	padding-left:5px;
	padding-right:5px;
	background-color: #ccc;
}

iframe
{
	border:0px;
}

img.submit_translation
{
	margin:3px;
}
