textarea.translate
{
   width:100%;
}

div.translate_field
{
	border:1px solid #ccc;
	margin-top:4px;
	margin-bottom:4px;
	padding:5px;
	background-color:#F4F4F4;
	border-radius:4px;
}

div.translate_controls_container
{
	display: table;
	vertical-align:middle;
}

div.translate_controls
{
	height:24px;
	display:table-row;
	vertical-align:middle;
}

div.cell
{
	display:table-cell;
	vertical-align:middle;
}



fieldset
{
	border-radius:4px;
}

form
{
	margin:0;
}

div.translation_details
{
	display:none;
	height:24px;
	border: 1px solid #999999;
	border-radius:4px;
	margin-left:5px;
	padding-left:5px;
	padding-right:5px;
	background-color: #ccc;
}